<div class="nocontent">
  <i class="fa fa-file-text notice" aria-hidden="true"></i>
  <h3>No Articles</h3>
  <small>This site doesn't have any articles listed! <%= link_to "Create a new
  one here", new_article_path %>
  </small>
</div>
