
<div id="page-wrap">
  <h2>Hello!</h2>

<div id="author_avatar">
  <%= image_tag @author.avatar.profile_thumb %>
</div>

  <div id="author_name">
    <%= @author.name %>
  </div>

  <div id="author_email">
    <%= @author.email %>
</div>
