// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_box {
    text-align: center;
    height: 6em;
    margin-top: 4em;
    vertical-align: text-top;
}

#author_avatar {
  display: inline-block;
}

#author_avatar img {
    border-radius: 28em;
    height: 80px;
}

#author_articles {
  background: #d2d2d2;
  min-height: 36em;
}

#author_name {
    display: inline-block;
}

#author_name h2 {
  font-weight: 100;
}

ul.article_list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  max-width: 70%;
      text-align: center;
}

a.article_link.h2 {
  display: inline-grid;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  height: 186px;
  background: #888;
  padding: 20px;
  margin: 5px;
  outline: 1px solid #fff;
  color: #fff;
}
